<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".androidarchitecture.quotablemvvmretrofit.QuoteApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:targetApi="31">
        <activity
            android:name=".coroutines.CoroutinesMainActivity"
            android:exported="false" />
        <activity
            android:name=".mvvmpractice.usersapi.UsersMVVMActivity"
            android:exported="false" />
        <activity
            android:name=".mvvmpractice.albumsapi.AlbumsApiMainActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.quotablemvvmretrofit.QuotableMVVMActivity"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".androidarchitecture.quotableretrofit.QuotableActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.listadapterdiffutils.ListAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.mvvm.MVVMMainActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.roomdatabaseapp.RoomDatabaseAndroidArchitectureActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.livedata.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.livedata.LiveDataMainActivity"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".androidarchitecture.quotesapp.QuotesAppMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Quotify" />
        <activity
            android:name=".androidarchitecture.viewmodel.ViewModelMainActivity"
            android:exported="false" />
        <activity
            android:name=".androidarchitecture.lifecycleawarecomponents.LifeCycleAwareActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.QuizResultActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.HomeQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.SignupQuizActivity"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".quizapp.activities.LoginQuizActivity"
            android:exported="false" />
        <activity
            android:name=".quizapp.activities.LoginIntroActivity"
            android:exported="false" />
        <activity
            android:name=".newsapp.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".newsapp.NewsMainActivity"
            android:exported="false" />
        <activity
            android:name=".broadcastreceiver.BroadcasrSMSReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".alarmmanager.AlarmManagerActivity"
            android:exported="false" />
        <activity
            android:name=".services.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".imagefromcamera.ImageFromCameraActivity"
            android:exported="false" />
        <activity
            android:name=".roomdatabase.RoomDatabaseMainActivity"
            android:exported="false" />
        <activity
            android:name=".sqldatabase.SQLMainActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferences.SPHomeMainActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferences.SPLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferences.SPSplashActivity"
            android:exported="false" />
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ParsingJSONResponse.ParcingJsonResponseActivity"
            android:exported="false" />
        <activity
            android:name=".navigationdrawer.NavigationDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".bottomnavigation.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".tabs.TabsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.dynamicfragments.DynamicFragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.staticfragments.FragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".implicitintents.ImplicitIntentsActivity"
            android:exported="false" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".alertdialogs.AlertDialogsActivity"
            android:exported="false" />
        <activity
            android:name=".customtoast.CustomToastActivity"
            android:exported="false" />
        <activity
            android:name=".customdrawablebuttons.CustomDrawableButtons"
            android:exported="false" />
        <activity
            android:name=".customtoolbar.CustomToolbarActivity"
            android:exported="true"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".listviews.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".animations.AnimationsActivity"
            android:exported="true" />
        <activity
            android:name=".cardview.CardViewActivity"
            android:exported="true" />
        <activity
            android:name=".intents.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".intents.SecondActivity"
            android:exported="true" />
        <activity
            android:name=".bmicalculator.BMICalculatorActivity"
            android:exported="true" />
        <activity
            android:name=".tiktoktoe.TicTacToeMain"
            android:exported="true" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MusicService" />

        <receiver
            android:name=".broadcastreceiver.SMSReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarmmanager.MyReceiver" />

        <service
            android:name=".firebase.FirebaseNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>